<!DOCTYPE html>
<html>
    <head>
        <title>RolloRent</title>
    </head>
    <body>
        <header>
            <h1><a href="/">RolloRent</a></h1>
        </header>
        <article>
            <br><br><time>published: 01.04.2024, 6:34PM</time>
            <h2><a href="">My first post</a></h2>
            <p>So excited to announce that RolloRent development is coming to an end!</p>
        </article>
        <article>
            <br><br><time>published: 01.04.2024, 6:34PM</time>
            <h2><a href="">My second post</a></h2>
            <p>I'm literally sick of this</p>
        </article>
    </body>
</html>